Backend/Scraper/venv
Backend/Scraper/logs/*
Backend/Scraper/__pycache__
Backend/Scraper/src/__pycache__
Backend/Scraper/src/api/__pycache__
Backend/Scraper/src/config/__pycache__
Backend/Scraper/src/model/__pycache__
Backend/Scraper/src/repository/__pycache__
Backend/Scraper/src/services/__pycache__
Backend/Scraper/src/summarizer/__pycache__
Backend/Scraper/src/utility/__pycache__
Backend/Scraper/logs
Backend/Scraper/data
Backend/Scraper/.env

UI/node_modules
UI/package-lock.json
UI/build
